# Environnement
.env
.venv
env/
venv/
ENV/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de configuration
.streamlit/secrets.toml

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'IDE
.vscode/
.idea/
*.swp
*.swo 